In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd
def disp(cnt, indicies):
    df = pd.DataFrame(cnt.todense().astype(int), columns=indices)
    df.index = indices
    return df

# Demo 1

In [3]:
import bwsample as bws

evaluations = (
    ([0, 0, 2, 1], ['id1', 'id2', 'id3', 'id4']), 
    ([0, 1, 0, 2], ['id4', 'id5', 'id6', 'id7']),
    ([1, 2, 0, 0], ['id7', 'id8', 'id9', 'id1'])
)


agg_dok, direct_dok, direct_detail, logical_dok, logical_detail = bws.count(evaluations)

## Aggregate Frequencies

In [4]:
cnt, indices = bws.to_scipy(agg_dok)
disp(cnt, indices)

     id1  id2  id3  id4  id5  id6  id7  id8  id9
id1    0    0    1    0    0    0    0    1    0
id2    0    0    1    0    0    0    0    0    0
id3    0    0    0    0    0    0    0    0    0
id4    3    1    5    0    0    0    1    4    2
id5    4    2    2    1    0    1    5    2    2
id6    2    0    0    0    0    0    1    2    2
id7    1    0    2    0    0    0    0    5    1
id8    0    0    0    0    0    0    0    0    0
id9    0    0    0    0    0    0    0    1    0

## Direct Extracted vs Logical Inferred

In [5]:
cnt, indices = bws.to_scipy(direct_dok)
disp(cnt, indices)

     id1  id2  id3  id4  id5  id6  id7  id8  id9
id1    0    0    1    0    0    0    0    1    0
id2    0    0    1    0    0    0    0    0    0
id3    0    0    0    0    0    0    0    0    0
id4    1    1    1    0    0    0    1    0    0
id5    0    0    0    1    0    1    1    0    0
id6    0    0    0    0    0    0    1    0    0
id7    1    0    0    0    0    0    0    1    1
id8    0    0    0    0    0    0    0    0    0
id9    0    0    0    0    0    0    0    1    0

In [6]:
cnt, indices = bws.to_scipy(logical_dok)
disp(cnt, indices)

     id1  id2  id3  id4  id5  id6  id7  id8  id9
id1    0    0    0    0    0    0    0    0    0
id2    0    0    0    0    0    0    0    0    0
id3    0    0    0    0    0    0    0    0    0
id4    2    0    4    0    0    0    0    4    2
id5    4    2    2    0    0    0    4    2    2
id6    2    0    0    0    0    0    0    2    2
id7    0    0    2    0    0    0    0    4    0
id8    0    0    0    0    0    0    0    0    0
id9    0    0    0    0    0    0    0    0    0

## Details

In [7]:
for typ in ("bw", "bn", "nw"):
    cnt, indices = bws.to_scipy(direct_detail[typ])
    print("\n", typ)
    print(disp(cnt, indices))

 bw
     id3  id4  id5  id7  id8
id3    0    0    0    0    0
id4    1    0    0    0    0
id5    0    0    0    1    0
id7    0    0    0    0    1
id8    0    0    0    0    0

 bn
     id1  id2  id4  id5  id6  id7  id9
id1    0    0    0    0    0    0    0
id2    0    0    0    0    0    0    0
id4    1    1    0    0    0    0    0
id5    0    0    1    0    1    0    0
id6    0    0    0    0    0    0    0
id7    1    0    0    0    0    0    1
id9    0    0    0    0    0    0    0

 nw
     id1  id2  id3  id4  id6  id7  id8  id9
id1    0    0    1    0    0    0    1    0
id2    0    0    1    0    0    0    0    0
id3    0    0    0    0    0    0    0    0
id4    0    0    0    0    0    1    0    0
id6    0    0    0    0    0    1    0    0
id7    0    0    0    0    0    0    0    0
id8    0    0    0    0    0    0    0    0
id9    0    0    0    0    0    0    1    0

In [8]:
for typ in ("nn", "nb", "nw", "bn", "bw", "wn", "wb"):
    cnt, indices = bws.to_scipy(logical_detail[typ])
    print("\n", typ)
    print(disp(cnt, indices))

 nn
     id3  id4  id5  id7  id8
id3    0    0    0    0    0
id4    4    0    0    0    2
id5    0    0    0    4    0
id7    2    0    0    0    4
id8    0    0    0    0    0

 nb
     id1  id2  id3  id5
id1    0    0    0    0
id2    0    0    0    0
id3    0    0    0    0
id5    1    1    1    0

 nw
Empty DataFrame
Columns: []
Index: []

 bn
     id1  id2  id3  id5
id1    0    0    0    0
id2    0    0    0    0
id3    0    0    0    0
id5    1    1    1    0

 bw
     id1  id4  id5  id6  id8  id9
id1    0    0    0    0    0    0
id4    1    0    0    0    1    1
id5    1    0    0    0    1    1
id6    1    0    0    0    1    1
id8    0    0    0    0    0    0
id9    0    0    0    0    0    0

 wn
Empty DataFrame
Columns: []
Index: []

 wb
     id1  id4  id5  id6  id8  id9
id1    0    0    0    0    0    0
id4    1    0    0    0    1    1
id5    1    0    0    0    1    1
id6    1    0    0    0    1    1
id8    0    0    0    0    0    0
id9    0    0    0    0    0    0

# Demo 2

In [9]:
import bwsample as bws

evaluations = [
    ([1, 0, 0, 2], ['G', 'H', 'Z', 'I'])
]

database = [
    ([1, 0, 0, 2], ['X', 'A', 'B', 'C']),
    ([1, 0, 0, 2], ['D', 'X', 'E', 'F']),
    ([1, 0, 0, 2], ['G', 'H', 'X', 'I']), 
    ([1, 0, 0, 2], ['J', 'K', 'Z', 'X']), 
    ([1, 0, 0, 2], ['Z', 'A', 'B', 'C']),
    ([1, 0, 0, 2], ['D', 'Z', 'E', 'F'])
]

agg_dok, direct_dok, direct_detail, logical_dok, logical_detail = bws.count(
    evaluations, logical_database=database)

In [10]:
cnt, indices = bws.to_scipy(logical_dok)
disp(cnt, indices)

   A  B  C  D  F  G  I  J  X
A  0  0  0  0  0  0  0  0  0
B  0  0  0  0  0  0  0  0  0
C  0  0  0  0  0  0  0  0  0
D  0  0  0  0  0  0  1  0  0
F  0  0  0  0  0  0  0  0  0
G  1  1  1  0  1  0  2  0  1
I  0  0  0  0  0  0  0  0  0
J  0  0  0  0  0  0  1  0  0
X  0  0  0  0  0  0  0  0  0